html, body {
  margin: 0;
}
.table-content {
  width: 100%;
  padding: 0 10px;
}

.table-content .ant-table-thead th.ant-table-cell {
  text-align: center;
  background-color: #111111;
  color: #ffffff;
}

.table-content .ant-table-thead th.ant-table-cell::before {
  display: none;
}

.ant-table-tbody .detail-product .product-code{
  color: #00DBDE;
}

.ant-table-tbody .detail-product .product-name{
  margin: 5px 0;
}

.ant-table-tbody .detail-product .product-price{
  color: #6d6d6d;
}

.ant-table-tbody .detail-product .product-stock{
  color: rgb(240, 31, 31);
}

.ant-table-wrapper .ant-table-footer {
  background-color: #111111;
}

.ant-table-wrapper .ant-table-footer .ant-typography {
  color: #ffffff;

}

.header-shop {
  background: rgb(0,219,222);
  background: linear-gradient(90deg, rgba(0,219,222,1) 0%, rgba(252,0,255,1) 100%);
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.header-shop-black-board {
  position: relative;
  background-color: #111111;
  height: 90vh;
  width: 90vw;
  border: 40px solid #EEEEEE;
  border-radius: 20px;
  transform: rotate(330deg) translateX(20%)translateY(-40%);
}

.header-shop-black-board .project-name {
  color: #00FF00;
  transform: rotate(0deg) translateX(70%);
  position: absolute;
  bottom: 0;
}

.header-shop-black-board .project-timestamp {
  color: #00FF00;
  position: absolute;
  top: 40vh;
  left: 0;
  transform: translateX(-40%) rotate(90deg);
}

@media screen and (max-width: 960px){
  .header-shop-black-board {
    transform: translateY(-50vh);
    height: 100vh;
    width: 100vw;
    border-right: unset;
    border-left: unset;
    border-radius: 0;
  }
  .header-shop-black-board .project-name {
    color: #00FF00;
    transform: rotate(0deg) translateX(55%) translateY(-100%);
    position: absolute;
    bottom: 0;
  }
  .header-shop-black-board .project-timestamp {
    color: #00FF00;
    position: absolute;
    bottom: 0;
    top: unset;
    transform: translateX(55%) rotate(0deg);
  }
}